services:
  backend:
    container_name: book_backend
    build: ./backend/
    ports:
      - "8000:8000"
    volumes:
      - venv_volume:/venv

  frontend:
    container_name: book_frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true

volumes:
  venv_volume:
